NODE_ENV = ""
PORT = ""

CORS_ORIGIN = ""

POSTGRE_USER = ""
POSTGRE_HOST = ""
POSTGRE_PASSWORD = ""
POSTGRE_DB = ""
POSTGRE_PORT = ""

DATABASE_URL = ""

JWT_ACCESS_SECRET = ""
JWT_REFRESH_SECRET = ""
JWT_ACCESS_EXPIRES_IN = ""
JWT_REFRESH_EXPIRES_IN = ""

STORAGE_PROVIDER = ""
MAX_DATASET_FILE_SIZE = ""